<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu Page</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/menu.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/nav.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- Nav bar -->
        <nav class="nav-container nav-closed">
          <div class = "logo-backup">
            <h3>Sampan Inn</h3>
          </div>
          <div class="nav-logo">
            <h1>Sampan Inn</h1>
          </div>
          <div class="nav-list">
            <div class="nav-item">
              <a href = "./views/menus.html">Menus</a>
            </div>
            <div class="nav-item">
              <a href = "#">About Us</a>
            </div>
            <div class="nav-item">
              <a href = "#">Reviews</a>
            </div>
            <div class="nav-item">
              <a href = "#">Reservations</a>
            </div>
            <div class="nav-item">
              <a href = "#">Contact</a>
            </div>
          </div>
          <div class="nav-control">
            <i class="fas fa-angle-right"></i>
          </div>
        <div class="nav-extras">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-tripadvisor"></i>
          <p>©Sampan Inn 2018</p>
          <p class = "smaller">Site by Jared Gross</p>
        </div>
        </nav>
    <!-- END NAV -->
    <!-- START Menu -->
    <div class="menu-container">
      <div class="menu-header">
        <h1>Menu</h1>
      </div>
      <div class="menu-button-container">
        <button class = "menu-button appetizer">Appetizers</button>
        <button class = "menu-button entree">Entrees</button>
      </div>
      <hr class = "divider">
      <div class="menu-section" id="Appetizers">
        <!-- START APPETIZERS -->
        <h2 class = "section-title">Appetizers</h2>
        <div class="item-container">
            <p class="item">Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$10.00</p>
        </div>
        <div class="item-container">
            <p class="item">Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$10.00</p>
        </div>
        <div class="item-container">
            <p class="item">Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$10.00</p>
        </div>
        <div class="item-container">
            <p class="item">Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$10.00</p>
        </div>
        <div class="item-container">
            <p class="item">Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$10.00</p>
        </div>
        <div class="item-container">
            <p class="item">Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$10.00</p>
        </div>
        <div class="item-container">
            <p class="item">Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$10.00</p>
        </div>
      </div>
      <!--END APPETIZERS  -->

      <!-- START ENTREES -->
      <div class="menu-section" id="Entrees">
        <h2 class = "section-title">Entrees</h2>
        <div class="item-container">
            <p class="item">Entree Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$20.00</p>
        </div>
        <div class="item-container">
            <p class="item">Entree Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$20.00</p>
        </div>
        <div class="item-container">
            <p class="item">Entree Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$20.00</p>
        </div>
        <div class="item-container">
            <p class="item">Entree Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$20.00</p>
        </div>
        <div class="item-container">
            <p class="item">Entree Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$20.00</p>
        </div>
        <div class="item-container">
            <p class="item">Entree Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$20.00</p>
        </div>
        <div class="item-container">
            <p class="item">Entree Item example name</p>
            <p class="item-desc">This is an exmaple of a description for an item. It should not be bolded and it should not run into the price line.</p>
            <p class="item-price">$20.00</p>
        </div>
      </div>



    </div>
  <script type="text/javascript" src="../assets/js/app.js"></script>
  </body>
</html>
